#username-profile{
    border-bottom: 3px solid #0044cc;
  }

   #username-profile:after{
  content:'';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 8px solid #0044cc;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

   }
   ul.navigation.navigation-main{
       margin-bottom:10px;
   }

   ul.navigation.navigation-main li.nav-item:not(.depertment-name){
     border-bottom: 0.2px solid rgb(152, 120, 140);
     border-left: 1px ridge #0044cc;
     margin : 0px 4px;
   }

   ul.navigation.navigation-main li.nav-item.depertment-name a span.menu-title, ul.navigation.navigation-main li.nav-item.depertment-inbox a span.menu-title
   {
    font-size: 18px;
   }
   ul.navigation.navigation-main li.nav-item.depertment-name, ul.navigation.navigation-main li.nav-item.depertment-inbox, ul.navigation.navigation-main li.nav-item.user-inbox-title
   {
    border-bottom: 1px solid #0044cc; 
    border-top: 4px solid #0044cc; 
    border-left: 1px ridge #0044cc;
    border-top-left-radius: 50px;
   }
   ul.navigation.navigation-main li.nav-item.depertment-inbox
   {
     margin-top: 2px;
   }


   /* profile  popup look*/

   #username-profile{
    border-bottom: 3px solid #0044cc;
  }

   #username-profile:after{
  content:'';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 8px solid #0044cc;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

   }


  for add staff form

 *{
  font-family: Crimson Text;
}
.row.pl-4{
  margin-bottom: 10px;
  margin-top: 10px;
}
#success-message, #danger-message {
  display: none; 
}
   
